<div id="search">
    <h1>Search Movies</h1>
    <form method="get" id="searchForm" class="form">
        <input type="text" class="title" name="title" value="{{movie.title}}" placeholder="Title" />
        <input type="text" class="genre" name="genre" value="{{movie.genre}}" placeholder="Genre" />
        <input type="number" class="year" name="year" value="{{movie.year}}" placeholder="Year" />
        <button type="submit" name="submit" id="search">Search</button>
    </form>
    <div id="results">
        {{> search-results}}
    </div>
</div>